json('../../vars.styl.json')

.c-banner-ad-top
  width: 320px
  height: 50px
  position: fixed
  top: 0
  margin-left: (-@width/2)
  left: 50%
  z-index: $zIndexBannerAd

.c-banner-ad-bottom
  width: 320px
  height: 50px
  position: fixed
  bottom: 0
  margin-left: (-@width/2)
  left: 50%
  z-index: $zIndexBannerAd
